html {
    min-width: 950px;
    font-family: sans-serif;
}

ul {
    margin: 0;
}

header, footer {
    padding: 10px 20px;
}

footer {
    background-color: #d3d3d352;
    width: 100%;
    position: absolute;
    bottom: 0;
}

header .nav, footer .nav {
    display: inline-block;
    position: relative;
    align-content: space-between;
}

header .nav li, footer .nav li {
    display: inline-block;
    font-size: 13px;
    margin-right: 13px;
}

.pull-right {
    float: right;
    padding-right: 30px;
}