html {
    min-width: 950px;
    font-family: sans-serif;
}

ul {
    margin: 0;
}

footer {
    background-color: #d3d3d352;
    width: 100%;
}

header .nav, footer .nav {
    display: inline-block;
}

header .nav li, footer .nav li {
    display: inline-block;
    font-size: 15px;
    color: #676767;
    padding-left: 10px;
}

.pull-right {
    float: right;
}